test:
  csrf-disabled: true

tablevert:
  databases:
    - type: POSTGRESQL
      name: HHSSecondTest
      host: localhost
      users:
        - name: dummyreader
          secret: test

  databaseQueries:
    - name: TestQuery
      databaseName: HHSSecondTest
      columns:
        - name: id
        - name: description
      fromClause: mydummy
      filter: id < 3
      sorting:
        - -description

